/* layout properties */
.full-page{
    top: 0px;
left: 0px;
width: 1920px;
height: 7094px;
background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
background: #FFFFFF 0% 0% no-repeat padding-box;
opacity: 1;
}
body {
    height: 100%;
    /* overflow-x: hidden; */
    text-align: center; /* Center content inside */
    position: relative;
 }
header {
    
    text-align:center; /* Center the text and elements inside */
    position: relative;
    width: 1920px;
height: 15013px;
}

.logo {
    width: 152px;
    height: 134px;
    background: transparent url('images/Group 13.jpg') 0% 0% no-repeat padding-box;
    background-size: cover; /* Ensure the logo image fits its container */
    margin: 0 auto; /* Center the logo */
}
nav {
    margin-top: 20px; /* Add space between logo and nav */
}
nav ul {
    display: inline-block; /* Ensure list items are horizontally aligned */
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul li {
    display: inline; /* Align list items horizontally */
    margin: 0 10px; /* Space between items */
    font: normal normal normal 20px/28px Vollkorn;
    color: #585858;
}

nav ul li:hover {
    color: #000; /* Optional: Change color on hover */
}
.container{
    top: 233px;
left: 0px;
width: 1920px;
height: 904px;
background: transparent url('img/Rectangle 7.png') 0% 0% no-repeat padding-box;
opacity: 0.6;
}